.title{
    margin-top: 40px;
    text-align: center;
}
.box-shadow{
    box-shadow: 0 2px 5px rgba(0,0,0, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.imgage__bio{
    width: 100%;
}